aseprite/* 
dconf/*     
go/*
gtk-3.0/*  
gtk-4.0/*
keepassxc/*  
nautilus/*
QtProject.conf/*
torbrowser/*
systemd/*         
user-dirs.dirs/*    
pulse/*     
user-dirs.locale/*
yay/*

QtProject.conf
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
